.sidebar {
    flex: 1;
    background-color: #5b5d8d;
}

.chat {
    flex: 2;
}

/* =============== Navbar =============== */
.navbar {
    display: flex;
    align-items: center;
    background-color: #373a75;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
    color: #f1f1f1;
}

.navbar__logo {
    font-weight: bold;
}

.navbar__user {
    display: flex;
    gap: 10px;
}

.navbar__img {
    background-color: #ddddf7;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar__btn {
    background-color: #5b5d8d;
    color: #ddddf7;
    font-size: 14px;
    padding: 0 4px;
    border: none;
    cursor: pointer;
}


/* =============== Search =============== */
.search {
    border-bottom: 1px solid gray;
}

.search__form {
    padding: 10px;
}

.search__form input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
}

::placeholder {
    color: #d3d3d3;
}

.user__chat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
}

.user__chat:hover {
    background-color: #3d3f6e;
}

.user__chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user__info span {
    font-size: 18px;
    font-weight: 500;
}

.user__info p {
    font-size: 14px;
    color: #d3d3d3;
}


/* =============== Chat =============== */
.chat__info {
    height: 70px;
    background-color: #6f6fa7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eeeeee;
    padding: 10px;
}

.chat__icon {
    display: flex;
    gap: 10px;
}

.chat__icon img {
    height: 24px;
}

/* =============== Message =============== */
.message {
    height: calc(100% - 140px);
    background-color: #e2e2fc;
    padding: 10px;
}

/* =============== Messages =============== */



/* =============== Input =============== */
.input {
    background-color: #fff;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input__text {
    width: 100%;
    border: none;
    outline: none;
    color: #3d3f6e;
    font-size: 18px;
}

.input__send {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input__send img {
    height: 24px;
    cursor: pointer;
}

.input__btn {
    border: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #8da4f1;
    border-radius: 4px;
}